input {
    border-style: solid;
    border-radius: 20px;
    width: 250px;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: rgb(97, 97, 97);
    margin-left: 10px;
}

.margin-left-30 {
    margin-left: 30px;
}

.form-card {
    background-color: rgb(228 227 255);
    padding: 20px;
    margin: 20px;
    width: 410px;
    border-radius: 10px;
    display: block;
    box-shadow: 200px;
    box-shadow: 2px 2px 7px 1px #d7d7d7;

}

.form-card:hover {
    background-color: rgb(210 209 237);
}

.display-flex {
    display: flex;
}

.float-right {
    float: right;
}

button {
    background-color: rgb(0 255 33);
    border-style: none;
    padding: 5px;
    width: 70%;
    cursor: pointer;
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 7px;


}

.red-font {
    color: rgb(192, 2, 2);
}

button:hover {
    background-color: rgb(7, 153, 7);
    color: white;
}